
body {
	
	font-family:‘Courier New’, Courier, monospace;
	background-image: url("concept3.jpg");
	background-size:     cover;  
	background-repeat:   no-repeat;
	background-position:top center;
	background-attachment:fixed;
    background-position: center center; 
	color: white;
	
}

span {
	
	padding-left: 15%;
	
	
}

h3 {
	
	text-align:center;
	padding-bottom: 10px;
	color: white;
	
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


#titolo {
	
	text-align:center;
	color: white;	
	
}

.borderbottom {
	
	border-bottom: 2px solid #eee;
	
	
}

.levelBar {
	
text-align: center;	
	
}

#sensoreLivello {
	
	color: black;
	text-align: center;
	
	
	
}

.centra {
	
	
	text-align: center;
}

#popup {
	
	font-size: 24px;
	
	
	
}