#interruttore {
	
	

    top: 5%;
    left: 5%;	
	
	
}

#visualizzaInterruttore {
	

    top: 5%;
    left: 20%;	
	
}

#motore {

    top: 15%;
    left: 5%;	
	
}

#visualizzaMotore {

    top: 15%;
    left: 20%;	
	
	
}